@page
@{
    ViewData["Title"] = "Michal Vavřík";
}

<div class="my-5">
    <div class="d-flex align-items-center mb-4 gap-5">
        <div class="flex-shrink-0 text-md-start">
            <img src="~/img/kontakty/vavra.png" class="img-fluid rounded" width="128" height="128" />
        </div>
        <div>
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
    </div>
    <p class="lead">Music Producer, Artist, Rapper, Beatmaker</p>
</div>